:root{
    --fondo: #272727;
    --menu: #D1D1D1;
    --biografia: #D6D6D6;
    --texto-informativo: #FBFBFB;
    --tarjetas: #323443;
    --texto-importante: #4CA9FF;
}
body{
    background-color: var(--fondo);
    font-family: 'Inter', sans-serif;
}  
 
