.head-container{
    width: 100%;
}
.head__menu{
    width: 100%;
}
.head__lista{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
.nombre{
    color: white;
    font-weight: bold;
    font-size: 24px;
    width: 55%;
    font-weight: 700;
}
.item__lista{
    margin: 20px;
    color: var(--menu);
    font-size: 26px;
    font-weight:lighter;
}
.item__lista:hover{
    color: white;
    cursor: pointer;
}
.linea{
    border-top: 1px solid #4D4D4D;
    height: 2px;
    max-width: 82%;
    padding: 0;
    margin: 20px auto 0 auto;
}